* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
  font-size: 25px;
}

body {
  color: #7a9b33;  
  font-family: Arial, sans-serif;
  background-color:#0b2b0e;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

main {
    padding: 0 70px;
}

#menu {
    text-align: center;
}


nav {
    background-color: #69234d;
    text-align: center;
}


article {
    margin-bottom: 50px;
    margin-top: 50px;
}

/* article:last-child {
    margin-bottom: 0;
}

article:first-of-type {
    margin-top: 50px;
}*/

#header-img {
    width: 100px;
    height: 100px;
}


/* header {
    background-size: cover;
    background-image: url("assets/images/vibrant-botanical-beautiful-seamless-pattern-elegant-black-background-colorful-line-art-plants-leaves-abstract-floral-424205582.png") 

}*/

#big-line {
    border: none;
    height: 2px;
    background-color: #d5bb85;
    margin-bottom: 20px;
}

#med-line {
    border: none;
    height: 2px;
    background-color: #69234d;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#small-line {
    border: none;
    height: 1px;
    background-color:#69234d;
    width: 25%;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

a {
    color: #e5e4e8;
}

input {
    background-color: #e5e7ba;
    border: 2px solid #4e593f;
    border-radius: 6px;
    outline: none;
    padding: 5px 10px;
    box-sizing: border-box;
}

input[type= "number"] {
    width: 5vw;
}

input[type = "checkbox"] {
    width: 2vw;
    height: 1vw;
}

label {
    display: inline-block;
    padding: 1vw 1vw;
    
}



textarea {
    border: 2px solid #4e593f;
    border-radius: 6px;
    outline: none;
    background-color: #e5e7ba;

}

.align-text-finish {
    text-align: center;
}

.combo-headings {
    color: #c0cf81;
}


.food-label {
    color: #c0cf81;

}

.container {
  max-width: 500px;
  width: 100%;
  text-align: center;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 10px;
}

.about {
  margin-bottom: 30px;
  line-height: 1.5;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link-button {
  background-color: #3a1b6b;
  color: #f8daae;
  text-decoration: none;
  padding: 1vw;
  border-radius: 5px;
  display:block;
  margin: 0 auto;
  
}